@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --clay-l: #4abebd;
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #e6eff6;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.box1 {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.box2 {
  background-color: var(--Cyan);
  border-radius: 0 0 0 10px;
}
.box3 {
  background-color: var(--clay-l);
  border-radius: 0 0 10px 0;
}

.box {
  padding: 2rem;
}

.box h1 {
  color: var(--Cyan);
  font-weight: 700;
  padding-bottom: 2rem;
  font-size: 35px;
}
.first-h4 {
  /* color: inherit; */
  color: var(--Bright-Yellow);
  font-weight: 700;
}
h4 {
  padding-bottom: 1.2rem;
  font-size: 20px;
  color: var(--Light-Gray);
  font-weight: 700;
}
.box1 p {
  color: var(--Grayish-Blue);
  line-height: 1.5;
}
.box2,
.box3 p {
  color: var(--Light-Gray);
  font-size: 14px;
  line-height: 1.5;
}
.plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 700;
  font-size: 32px;
  padding-right: 1rem;
}
.plan p {
  font-size: 10px;
}
.box2 a {
  background-color: var(--Bright-Yellow);
  text-decoration: none;
  padding: 10px 80px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 1.5rem;
  color: var(--Light-Gray);
  font-weight: 700;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .wrapper2 {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .box2 {
    border-radius: inherit;
  }
}
@media only screen and (max-width: 768px) {
  .box3 {
    border-radius: 0 0 10px 10px;
  }
}
